*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font: optional;
}
body {
   background-color: lightsteelblue;
   margin: 0;

}
/* similar */
.btn-resetInput{
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    border: #000 solid 1px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    bottom: 0;
    border-radius:0px 9px 9px 0px ;
    background-color:#87CEFA;
    color: rgb(255 255 255);
}
audio {
    display: none;
}
/* end */
:root {
    --height-heading: 15vh;
}
.heading{
    text-align: center;
    margin-top: 5px;
    color:  #097416;
    height: var(--height-heading);
}

.heading h1 {
    text-transform: uppercase;
    line-height: var(--height-heading);
}
.heading h2 {
    margin-top: -30px;
}
.heading img {
    width: 36px;
    text-align: center;
}
.content {
    height: calc(100vh - var(--height-heading));
    
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.morse {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.morse-btn{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
.morse-btn button {
    width: 33.333%;
    height: 50px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    background-color: #fff;
    cursor: pointer;
    border: #000 solid 1px;
    background-color: rgb(60,179,113);
    color: #fff;
}
.morse-btn button:active{
    background-color:unset;
    color: #000;
}
.morse-btn button:nth-child(3) {
    font-weight: bold;
}
.container .morse .input-morse{
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    margin: 0 8px;
    position: relative;
}
 label {
    font-size: 20px;
    margin-bottom: 2px;
    color:#2334ad ;
}
.morse .input-morse input{
    height: 50px;
    font-size: 21px;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    width: 100%;
    border: 1px solid;
    color: navy;
    border-radius:9px ;
}
.morse .input-morse input:focus{
    outline: blue solid 1px ;
}
.input-morse button {
   
}

.input-morse button:active {
    background-color: rgb(60,179,113);
    color: #fff;
    border: #097416;
}
#nhaplieu {
    font-size: 30px;
}
::placeholder{
    font-size: 21px;
}

/* lay out */
.lay-out {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lay-out .modal {
    position: relative;
    width: 33.333%;
    height: 50%;
    background-color: #fff;
 
}
.lay-out .modal .heading-modal {
    text-align: center;
    margin-top: 10px;
}
.lay-out .modal .modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.lay-out .modal input {
    display: block;
    width: 70%;
    height: 41px;
    margin-bottom: 10px;
    padding: 0 6px;
}
.lay-out .modal button {
    width: 55px;
    height: 30px;
}    
/* change morse */
.MorseText {
    height: 100vh;
    /* overflow: hidden; */
    border-top: 1px solid;
}
.content-morse {
    margin-top: 10%;
    height: auto;
}
.chaToolchange {
    display: flex;
    justify-content: center;
    position: relative;

}
.content-morse .tool-change {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 70%;
}
.morse-btn-change{
    position: relative;
    justify-content: center;
    margin-top: 12px;
}
.content-morse input {
    height: 50px;
    font-size: 21px;
    padding-left: 6px;
    width: 100%;
    border: 1px solid;
    color: navy;
    border-radius:9px ;
    /* margin: 0 8px; */
}
.tool-change button{
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    border: #000 solid 1px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    bottom: 0;
    border-radius: 0px 9px 9px 0px;
    background-color: #87CEFA;
    color: rgb(255 255 255);
}
.result {
    display: flex;
    margin-top: 12px;
    font-size: 30px;
    margin: 12px 6px 0;
}
.result .child-anpha{
    padding-right: 5px;
}
.result .child-anpha:nth-child(odd) {
    background-color:rgb(60,179,113) ;
}
.result .child-anpha:nth-child(even) {
    background-color:#fff ;
}
.result .child-morse {
    padding-left: 5px;
}
.result .child-morse:nth-child(odd) {
    background-color: #fff;
}
.result .child-morse:nth-child(even) {
    background-color:rgb(60,179,113) ;
}
.result .result {
    display: flex;
}
.result #result-anpha {
    width: 50%;
    text-align: right;
}
.result #result-morse {
    width: 50%;
}
/* có sẵn */
.permanent {
    display: flex;
    margin-top: 12px;
    font-size: 30px;
    margin: 12px 6px 0;
}
.permanent .permanent-anpha{
    width: 50%;
    text-align: right;
}
.permanent .permanent-anpha .child-permanentAN{
    padding-right: 5px;
}
.permanent .permanent-morse .child-permanentMO{
    padding-left: 5px;
}
.permanent .permanent-morse{
    width: 50%;
}
.permanent .child-permanentAN:nth-child(odd) {
    background-color:rgb(60,179,113) ;
}
.permanent .child-permanentAN:nth-child(even) {
    background-color:#fff ;
}
.permanent .child-permanentMO:nth-child(odd) {
    background-color: #fff;
}
.permanent .child-permanentMO:nth-child(even) {
    background-color:rgb(60,179,113) ;
}
.empty {
    width: 100%;
    height: 50px;
}



/* footer */
.footer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    bottom: 0;
}
.footer .content-footer img {
    width: 100%;
}



/* mobile */
@media only screen and (max-width:46.1875em){
    .heading{
        font-size: 15px;
    }
    .container {
    }
    .container .morse {
        flex-direction: column;
    }
    .container .morse .input-morse {
        width: 95%;
        margin: 12px;
        margin-left: 9px;
    }
    .morse-btn {
        flex-wrap: wrap;
    }
    .morse-btn button{
        width: 30%;
        margin: 7px 5px;
    }
    .morse-btn button:nth-child(4),button:nth-child(5) {
        width: 100%;
    }
    /* morse change */
    .content-morse .tool-change {
        width: 100%;
    }
    .tool-change button{
        margin: auto;
    }
    .tool-change{
        width: 95%;
    margin: 12px;
    margin-left: 9px;
    }
    .morse-btn-change button {
        width: 42%;
    }
    
}
/* tablet */
@media only screen  and (min-width:46.25em) and (max-width:63.9375em) {
    .heading{
        font-size: 15px;
    }
    .container {
    }
    .container .morse {
        flex-direction: column;
    }
    .container .morse .input-morse {
        width: 95%;
        margin: 12px;
        margin-left: 9px;
    }
    .morse-btn {
        flex-wrap: wrap;
    }
    .morse-btn button{
        width: 30%;
        margin: 7px 5px;
    }
    .morse-btn button:nth-child(4),button:nth-child(5) {
        width: 100%;
    }
    
}